* {
    padding: 0;
    margin: 0;
}

body { background-color: #000; }

/* Corps de la page */
#container {
    padding: 20px;
}

p { color: green; }

button {
    border: 1px solid green;
    color: #fff;
    padding: 5px;
    background-color: #000;
    margin-top: 10px;
    cursor: pointer;
}

table { border-collapse: collapse; }

table, tr, td, th {
    color: #fff;
    border: 1px solid green;
    padding: 15px;
    margin-top: 10px;
}

input {
    width: 50%;
    border: 1px solid green;
    background-color: #000;
    color: #fff;
    padding: 10px;
}
